client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="bankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="AccountList">
<part name="parameters" element="tns:AccountList"/>
</message>
<message name="AccountListResponse">
<part name="parameters" element="tns:AccountListResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<portType name="BankService">
<operation name="AccountList">
<input wsam:Action="http://ws/BankService/AccountListRequest" message="tns:AccountList"/>
<output wsam:Action="http://ws/BankService/AccountListResponse" message="tns:AccountListResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="conversion">
<input wsam:Action="http://ws/BankService/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://ws/BankService/conversionResponse" message="tns:conversionResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AccountList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>